header {
    height: 50px;
    background-color: var(--DARKER_GREY);
    color: white;
}

.navmenu {
    float: left;
    margin-left: 15px;
}

.logo {
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}

.title {
    height: 50px;
    line-height: 50px;
    font-size: x-large;
    cursor: pointer;
    transition-duration: .5s;
}

.title:hover {
    color: var(--ORANGE_ACCENT);
}

.link {
    height: 50px;
    line-height: 50px;
    font-weight: 100;
    cursor: pointer;
    transition-duration: .5s;
}

.selected {
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    color: white;
}

.selected:after {
    content: "";
    position: relative;
    display: block;
    height: .5px;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    top: -22%;
    width: 100%;
    left: 0;
}

.link:hover {
    color: var(--ORANGE_ACCENT);
}

.link:after {
    content: "";
    position: relative;
    display: block;
    height: .5px;
    background: var(--ORANGE_ACCENT);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    top: -22%;
    left: 50%;
}

.link:hover:after {
    width: 100%;
    left: 0;
}

.right {
    float: right;
    cursor: pointer;
    transition-duration: .2s;
    margin-right: 10px;
}

.right:hover {
    filter: brightness(70%);
}

.avatar {
    margin: 20% 0;
}

.dropdown-icon {
    height: 50px;
    line-height: 50px;
}

/* dropdown */

.MuiPaper-root {
    background-color: transparent !important;
}

.MuiMenu-list {
    background-color: var(--DARKER_GREY);
    border-radius: 5px;
    border: .2px solid var(--LIGHT_GREY);
}

.dropdown-logged-user {
    background-color: var(--DARKER_GREY) !important;
    flex-direction: column;
    cursor: auto !important;
    color: var(--LIGHTER_GREY) !important;
}

.dropdown-logged-user p {
    margin: 0 !important;
}

.name {
    color: var(--ORANGE_ACCENT);
    transition-duration: .5s;
}

.title:hover .name{
    color:white;
}

.MuiDivider-root {
    background-color: var(--LIGHT_GREY);
}

.dropdown-item {
    background-color: var(--DARKER_GREY) !important;
    height: 30px !important;
    transition-duration: .5s !important;
    color: var(--LIGHTER_GREY) !important;
}

.dropdown-item:hover {
    background-color: var(--DARK_GREY) !important;
    color: white !important;
}

.dropdown-item:hover .icon {
    color: white !important;
}

.logout {
    background-color: var(--DARKER_GREY) !important;
    height: 30px !important;
    transition-duration: .5s !important;
    color: var(--LIGHTER_GREY) !important;
}

.logout:hover {
    background-color: var(--DARK_GREY) !important;
    color: var(--RED_ACCENT) !important;
}

.logout:hover .logout-icon {
    color: var(--RED_ACCENT);
}