header {
    height: 50px;
    background-color: #292929;
    color: white;
}

.navmenu {
    float: left;
    margin-left: 15px;
}

.navmenu a {
    color: white;
    text-decoration: none;
    transition-duration: .2s;
}

.navmenu a:hover {
    color: #ff9f60;
    text-decoration: none;
}

.logo {
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}

.title {
    height: 50px;
    line-height: 50px;
    font-size: x-large;
    cursor: pointer;
    transition-duration: .5s;
}

.link {
    height: 50px;
    line-height: 50px;
    font-weight: 100;
    cursor: pointer;
    transition-duration: .5s;
}

.link:hover a {
    color: #ff9f60;
}

.link:after {
    content: "";
    position: relative;
    display: block;
    height: .5px;
    background: #ff9f60;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    top: -22%;
    left: 50%;
}

.link:hover:after {
    width: 100%;
    left: 0;
}

.right {
    float: right;
    cursor: pointer;
    transition-duration: .2s;
    margin-right: 10px;
}

.right:hover {
    filter: brightness(70%);
}

.avatar {
    margin: 20% 0;
}

.dropdown-icon {
    height: 50px;
    line-height: 50px;
}

.MuiPaper-root {
    background-color: #ffffff00 !important;
}

.MuiMenu-list {
    background-color: #292929;
    border-radius: 5px;
    border: .2px solid #454545;
}

.dropdown-logged-user {
    background-color: #292929 !important;
    color: #9d9d9d !important;
    flex-direction: column;
    cursor: auto !important;
}

.dropdown-logged-user p {
    margin: 0 !important;
}

.name {
    color: white;
}

.MuiDivider-root {
    background-color: #454545;
}

.dropdown-item {
    background-color: #292929 !important;
    height: 30px !important;
    transition-duration: .5s !important;
}

.dropdown-item:hover {
    background-color: #343434 !important;
}

.dropdown-item:hover a {
    color: white;
}

.dropdown-item:hover .icon {
    color: white;
}

.dropdown a {
    color: #9d9d9d;
    text-decoration: none;
    transition-duration: .2s;
}

.dropdown a:hover {
    color: white;
    text-decoration: none;
}

.logout {
    background-color: #292929 !important;
    height: 30px !important;
    transition-duration: .5s !important;
}

.logout:hover {
    background-color: #343434 !important;
}

.logout:hover a {
    color: #ea2a3d;
}

.logout:hover .logout-icon {
    color: #ea2a3d;
}