.welcome {
    font-size: x-large;
    color: white;
    width: 40%;
    margin: 10% auto;
    text-align: center;
}

.welcome .hello {
    font-size: xx-large;
}

.welcome span {
    color: var(--ORANGE_ACCENT);
}

.welcome .button {
    margin: 50px auto;
    font-size: medium;
    color: white;
    width: 180px;
    height: 55px;
    line-height: 50px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition-duration: .5s;
}

.welcome .button:hover {
    background-color: white;
    border: none;
    color: var(--DARKER_GREY);
}